@charset "utf-8";
/* CSS Document */

main {
	padding-top: 60px;
}

.work-item_work-main_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -70px;
}

.work-item_work-main_item {
	margin-right: 70px;
	margin-bottom: 50px;
}

.work-item_work-main_item img {
	width: 500px;
}

.work-item_work-main_item p{
	width: 435px;
}


h2 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

p {
	text-align: justify;
}

footer p {
	text-align: center;
}

.work-item_work-sub_container {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: -20px;
	
}

.work-item_work-sub_item {
	width:300px; height: 300px;
	margin-right:20px;
	margin-bottom: 50px;
}

.sub1 {
	width: 150px;
	margin: 0 auto;
}

.sub2{
	width: 200px;
	margin: 0 auto;
}

.sub3{
	width: 150px;
	margin: 0 auto;
}
